<h1>Contact Us</h1>
<div class="row">
  <div class="col-sm-6">
    <address>
      <strong>Tropikal Restaurant</strong><br>
      225 Nguyen Van Cu St<br>
      Ho Chi Minh City<br>
      Viet Nam<br>
      (+84)123-4567
    </address>
  </div>
  <div class="col-sm-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.640570638195!2d106.68031804976212!3d10.762159562363605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1bf766136f%3A0xf47329e2589fc2be!2zMjI1IE5ndXnhu4VuIFbEg24gQ-G7qywgcGjGsOG7nW5nIDQsIFF14bqtbiA1LCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1497705324744" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
